body {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
margin: 0;
}

img {
  width: 62px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "input results";
  height: 900px;
}

.header {
  grid-area: input;
  background-color: #455A64;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

 }

.results {
  grid-area: results;
  background-color: #CFD8DC;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  height: 55px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

input {
  font-size: 20px;
  padding: 3px 7px;
  border: 2px solid lightgray;
}

::placeholder {
  color: rgb(187, 189, 191);
}

 .input-field {
   display: block;
   margin: 20px auto;
   width: 300px;
 }

 .enter-button {
    font-weight: 800;
    color: white;
    background-color: #FFC107;
    border: none;
    padding: 7px;
    font-size: 14px;
    width: 318px;
 }

 .inner-container {
    margin: 0 auto;
 }

 /*BOOKMARK STYLING*/

 h2 {
   margin: 0;
   color: #455A64;
   font-weight: 800;
 }

 .bookmark {
   background-color: white;
   border: 2px solid #607D8B;
   margin: 15px;
   padding: 10px 15px;

 }

 a {
  border-bottom: 10px;
  color: #607D8B; 
  text-decoration: underline;
  text-decoration-color: #CFD8DC;

 }

 .delete-button {
   float: right;
 }

 a:hover {
  color: #455A64;
  cursor: pointer;
  font-weight: 800;
  text-decoration-color: #FFC107; 
 }

 .enter-button:hover {
   background-color: #FFD773
 }

 .read {
   background-color: #F2F4F4;
   text-decoration-color: #CFD8DC;
 }

 .read .read-button {
   color: #F05A28;
   font-weight: 800;
   text-decoration: none;
 }

 hr {
   border-color: #CFD8DC;
 }

 