body {

font-family: 'Open Sans', sans-serif;
font-weight: 400;
}

img {
  width: 62px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "input results";
  height: 100%;
}

.header {
  grid-area: input;
  background-color: #455A64;
  color: white;
}

.results {
  grid-area: results;
  background-color: #CFD8DC;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  height: 55px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

input {
  font-size: 20px;
  padding: 3px 7px;
  border: 2px solid lightgray;
}

::placeholder {
  color: rgb(187, 189, 191);
}

 .input-field {
   display: block;
   margin: 40px auto;
   width: 300px;
 }

 .enter-button {
    font-weight: 800;
    color: white;
    background-color: #FFC107;
    border: none;
    padding: 7px;
    font-size: 14px;
    width: 318px;
 }

 .inner-container {
    margin: 0 auto;
 }