/*GENERAL STYLING*/

body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "input results";
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  background-color: #455A64;
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: input;
  justify-content: center;
}

.results {
  background-color: #CFD8DC;
  grid-area: results;
  height: 100vh;
  overflow: scroll;
}

h1 {
  align-self: center;
  font-size: 50px;
  margin: 0;
}

img {
  width: 75px;
}


/*INPUT AREA STYLING*/

header {
  display: flex;
  height: 55px;
  justify-content: center;
  margin: 0 auto;
  width: 100%
}

input {
  border: 2px solid lightgray;
  font-size: 20px;
  padding: 3px 7px;
}

.input-field {
  display: block;
  margin: 35px auto;
  margin-bottom: 25px;
  width: 330px;
}

::placeholder {
  color: rgb(187, 189, 191);
}

.enter-button {
  background-color: #FFC107;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 800;
  margin-top: 0;
  padding: 7px;
  width: 350px;
}

.enter-button:hover {
  background-color: #FFD773
}

.enter-button:disabled {
  opacity: .6;
}

.enter-button:disabled:hover {
  background-color: #FFC107;
  opacity: .6;
}

.error-container {
  display: block;
  height: 20px;
}

.wrong-password-notification {
  bottom: 30px;
  color: white;
  display: none;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  text-align: center;
  top: -21px;
  width: 84%;
}

.display-error {
  animation: fadeIn .5s ease 1;
  display: block;
}

.stats {
  margin: 0 auto;
  width: 300px;
}

ul {
  display: flex;
  font-style: italic;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

li {
  flex-grow: 1;
}

.inner-container {
  margin: 0 auto;
}

span {
  color: #FFC107;
}


 /*BOOKMARK AREA STYLING*/

.bookmark {
  animation: slideIn .5s ease 0s 1;
  background-color: white;
  border: 2px solid #607D8B;
  margin: 15px;
  margin-right: 15px;
  overflow-x: scroll;
  padding: 10px 15px;
}

results::-webkit-scrollbar,
.results::-webkit-scrollbar-corner
 {
  background-color: #CFD8DC;
}

h2 {
  color: #455A64;
  font-weight: 800;
  margin: 0;
}

hr {
  border: .5px solid;
  color: #cfd8dc;
}

a {
  border-bottom: 10px;
  color: #607D8B; 
  text-decoration: underline;
  text-decoration-color: #CFD8DC;
}

a:hover {
  color: #455A64;
  cursor: pointer;
  font-weight: 800;
  text-decoration-color: #FFC107; 
}

.clear-button {
  background-color: #CFD8DC;
  border: none;
  color: #607D8B;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: underline;
}

.clear-button:hover {
  text-decoration: none;
}

.read {
  background-color: #F2F4F4;
  text-decoration-color: #CFD8DC;
}

.read .read-button {
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;
}

.delete-button {
  float: right;
}

/*IPAD SIZING*/

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
     "input"
     "results";
    height: 400px;
    max-width: 600px;
    width: 100%;
  }

  .header {
    height: 45vh; 
  }

  .results {
    height: 55vh;
  }

  .input-field {
    margin: 20px auto 2px auto;
  }

  .wrong-password-notification {
    top: 0px;
  }
}

/*MOBILE SIZING*/

@media screen and (max-width: 420px) {
  h1 {
    font-size: 25px
    margin: 30px 3px 20px 3px;
  }

  img {
    position: relative;
    top: 5px;
    width: 30px;
  }

  .input-field {
    font-size: 14px;
    margin-bottom: 15px;
    width: 82%;
  }

  .website-url {
    margin-bottom: 0px;
  }

  .enter-button {
    font-size: 12px;
    margin: 10px auto;
    margin-top: 5px;
    width: 87%;
  }

  header {
    height: 80px;
  }

  .wrong-password-notification {
    font-size: 12px;
  }
}

/*ANIMATION*/

@keyframes slideIn {
  from {transform: translateX(100%)};
  to {transform: translateX(0%)}
}

@keyframes fadeIn {
  from {
    transform: translateY(4px);
    opacity: 0}
  to {
    transform: translateY(0px);
    opacity: 1}
}